:root {
  --fc-daygrid-event-dot-width: 5px;
  --fc-today-bg-color: #fff;
}

.fc-toolbar.fc-header-toolbar {
  display: none;
}
.fc-daygrid-day-frame .fc-daygrid-day-number {
  text-align: center !important;
}
