:root {
  --fc-daygrid-event-dot-width: 5px;
  --fc-today-bg-color: #fff;
}

/* .today-highlight {
  background-color: #ffcccb; /
  color: #ff0000; 
  font-weight: bold; 
} */

.fc-toolbar.fc-header-toolbar {
  display: none;
}
